
<% if @name %>
<h1> My name is <%= @name %> </h1>
<% end %>
<div style='border: 3px dashed red'>
  <img src='https://cnet2.cbsistatic.com/img/n6FwSNUEI6P-zYtzAXegHFGjxeM=/940x0/2021/02/09/62a82602-5227-4b0c-875c-302af79cc49e/zoomcat.jpg'>
  </div>